apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
  name: deploy-test
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels: 
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: "nginx:1.25.3"
          ports:
            - containerPort: 80
          resources: {{- toYaml .Values.resources | nindent 12 }}