name: Helm Deploy 

run-name: Helm Deploy on K3s Cluster

on:
  workflow_dispatch:
    inputs:
      Env:
        type: choice
        description: 'Environment'
        required: true
        options:
          - T1
          - PRD


jobs:
  deployment:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v1

    - name: "Set kubeconfig"
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBECONFIG }}" > ~/.kube/k3s.yml
        chmod 600 ~/.kube/k3s.yml
      
    - name: "Install helm"
      uses: azure/setup-helm@v4.3.0

    - name: "Deploy NGINX chart"
      run: |
        helm upgrade --install nginx ./helmcharts/nginx \
          --namespace default \
          --create-namespace
